* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(/images/bg-intro-desktop.png);
  background-color: #ff7978;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-size: 16px;
  /* padding: 0 50px 0 30px; */
}
.left-side {
  width: 30%;
  color: #ffffff;
}
.right-side {
  width: 30%;
}
.left-side h1 {
  font-size: 50px;
}
.right-side .try-it {
  background-color: #5d54a3;
  padding: 10px 0 10px 0;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 10px;
}
.right-side form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  padding: 25px 7px 20px 7px;
  border-radius: 5px;
}
.right-side form input {
  width: 90%;
  padding: 5px 10px 5px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: #ffffff;
  outline: none;
}
.right-side form input[type="submit"] {
  background-color: hsl(154, 59%, 51%);
}
.left-side {
  width: 50%;
  padding-right: 50px;
}
.right-side footer p {
  font-size: 10px;
}
.by-clicking {
  font-weight: bolder;
  opacity: 0.5;
}
.right-side footer .terms {
  color: hsl(0, 100%, 74%);
  font-weight: bolder;
}
@media (max-width: 575px) {
  body {
    background-image: url(./images/bg-intro-mobile.png);
  }
  main {
    display: block;
    width: 80%;
    margin: auto;
  }
  .left-side,
  .right-side {
    width: 80%;
    margin: auto;
    color: #ffffff;
    text-align: center;
  }
}
